body {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  width: 60%;
}

.input-group-text {
  width: 200px;
}

.btn-group {
  display: block;
  text-align: center;
}

button {
  width: 100px;
}
