body {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  width: 800px;
}

.input-group-text {
  width: 200px;
}

.btn-group {
  display: block;
  text-align: center;
}

#checkbox-container {
  height: auto;
}

.btn {
  width: 100px;
}

@media (max-width: 700px) {
  .container-fluid {
    width: 500px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1rem;
  }
  .container-fluid {
    width: 300px;
  }
  .input-group-text {
    width: 100px;
  }
  .input-group-lg > .input-group-prepend > .input-group-text {
    font-size: 0.5rem;
  }
  .input-group-lg > .form-control {
    font-size: 0.5rem;
  }
  .form-check-label {
    font-size: 0.5rem;
  }
  .btn {
    width: 75px;
  }
}
